*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}
a, li, ul, span, i, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
  
}
/*---para el header---*/
header {
    height: 51px;
    width: 100%;
    background-color: white;    
    border-bottom: 1px solid #e6ecf5;
    z-index: 200;
    position: fixed;
}
#bar-nav{
    margin: 7px;
    display: block;
}
/***------div navigation------***/
#menu{
    margin-left: 30px;
    display: inline-block;
    float: left;
}
.item-list {
    display: inline-block;
    line-height: 1;
    margin: 10px;
}
.item-list a i{
    font-weight: 700;
    font-size: 17px;
}
.item-list a {
    color: #66757f;
    font-weight: 700;
    font-size: 15px;
    padding: 9px;
}
.item-list a:hover {
    border-bottom: 2px solid #1c94e0;
    color: #1da1f2;
}

/***------h1------***/

.fa-logo {
    display: inline-block;
    position: relative;
    float: left;
    color: #1da1f2;
    font-size: 25px;
    text-align: center;
    margin-left:240px;
    margin-right: 180px;
}
/***------form------***/

div .form {
    padding: 1px;
    display: block;
    position: absolute;
}
.form .search-input {
    background-color: #f5f8fa;
    border-radius: 21px;
    color: #14171a;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    width: 210px;
    border: 1px solid #e6ecf0;
    float: left;
    position: absolute;
    margin-left: 950px;
    cursor: text;
}
form  .form-search {
      display: block;
      position: absolute;

}
.form-search i {
    position: absolute;
    font-size: 19px;
    color: #66757f;
    margin-top: 5px;
    margin-left: 1128px;

}
/***------perfil------***/
div #perfil {
  display: block;
  margin: 2px;
  float: right;
}
#menu-perfil li {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
#avatar a img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    margin-left: 5px;
}
#btn button {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 35px;
}
/*---para main---*/
main {
    background-color: #e6ecf0;
    -webkit-column-count: 3;
    column-count: 3;
    padding-top: 55px;
    height: 1500px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

/*---para section---*/
.container{
    background-color: white;
    display: block;
    position: relative;
}
#content1, #content3, #content2 {
    margin: 0.5%;
}
#content1 {
    width: 80%;
    height: 22%;
    margin-left: 6%;
}
#content1 .img-perfil img{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    margin-bottom: 150px;
}
#content1 .dashboard-perfil img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    margin-top: 120px;
    margin-left: 10px;
}
div #card-name {
    position: absolute;
    padding-left: 100px;
    top: 51%;    
}
#card-name .name {
    color: black;
    font-size: 19px;
    font-weight: 800;
}
#card-name .subname {
    color: #657786;
    font-size: 14px;
}
#card-name .a-name:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: black;
            text-decoration-color: black;
}
#card-name .a-subname:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #657786;
            text-decoration-color: #657786;
}
#card-status {
    padding: 5px;
}
#card-status .option {
    display: inline-block;
    text-align: left;
    padding: 10px;
}
.option-title {
    font-size: 13px;
    color: #657786;
    font-weight: 700;
}
.option-title:hover {
    color: #0099B9;
}
.number {
    font-size: 19px;
    color: #0099B9;
    font-weight: 900;
}
#content2 {
    width: 165%;
    height: 80%;
}
#content2 #tweet-form{
    padding: 2%;
    padding-left: 4%;
    background-color: #e5f4f8;
    height: 8%;
    width: 100%;
}
#content2 #tweet-form img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    display: block;
}
#content2 #tweet-form form {
  display: block;
  margin-left: 10%;
  padding: 10px;
  width: 90%;
  height: 190px;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  color: #0099B9;
  border:1px solid #b6ecea;
}
#content2 #text-box .text-icon {
  display: block;
  float: right;
}
#content2 .text-icon span i {
  font-size: 19px;
  position: absolute;
  left: 548px;
  right: 20px;
  top: 21px;
}
label {
    color: black;
    background-color: antiquewhite;
    width: 150px;
    text-align: center;
    font-weight: 400;
}
.box-count {
  height: 40px;
  width: 40px;
  margin-top: 130px;
  margin-left: 440px;
  border-radius: 50%;
  position: absolute;
  background-color: antiquewhite;
  color: black;
  font-size: 12px;
  text-align: center;
  padding: 12px;
}
/*-----estilos para el contador-------*/
.blue {
    color: #0366D6;
}
.red {
    color: coral;
}
/********************************/
#tweet-toolbar{
  background-color: #e5f4f8;
  padding-left: 75px;
  height: 50px;
}
#box-icon button {
  margin: 8px;
  height: 40px;
  width: 45px;
  display:block;
  position: relative;
  float: left;
  font-size: 22px;
  font-weight: 700;
  background-color: #e5f4f8;
  color: #1da1f2;
  border: none;
  border-radius: 6px;
}
#box-icon button:hover {
  border-color: #1da1f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,153,185,0.1)));
  background-image: linear-gradient(rgba(255,255,255,0), rgba(0,153,185,0.1));
  border-color: #0099B9;
  border: 1px solid transparent;
}
.disable-btn {
  background-color: #0099B9;
  border-color: #0099B9;
  color: white;
  margin-top: 7px;
  margin-left: 150px;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 35px;
  border-style:double; 
  border-radius: 25px;
  cursor: not-allowed;
  opacity: .3;
}
.enable-btn{
  background-color: #0099B9;
  border-color: #0099B9;
  opacity: 100;
  color: white;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 150px;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 35px;
  border-style:double; 
  border-radius: 25px;
}
.form-tweet {
  height: 10px;
  border: none;
}
/*Para dar el atributo placeholder a mi div*/
[contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder);
}
/*-----------------------------------*/
.editable{
  width: 440px;
  height: 170px;
  display: block;
  border:none;
  cursor: text;
  position: absolute;
}
.my-tweets{
  width: 580px;
  height: 9%;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: text;
  position: relative;
  margin: 6px;
  background-color: #f5f8fa;
  border-radius: 10px;
  white-space: normal;
  word-wrap: break-word;
}
/*----------------------------*/
#content3 {
    width: 80%;
    height: 22%;
    margin-right: 6%;
}
h3{
  padding: 15px;
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.img-chrome {
  width: 20%;
  height: 20%;
  margin: 15px;
  display: inline-block;
}
.follow a {
    padding: 25px;
    display: block;
    float: right;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #1da1f2;
}
#btn-follow {
  width: 90px;
  height: 30px;
  margin: 15px;
  background-color: white;
  border: 2px solid #1da1f2;
  color: #1da1f2;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}




